In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import scipy.stats as st
%matplotlib inline

In [5]:
import os
os.chdir('/content/drive/My Drive/Capstone Project/Anand')

In [8]:
data_df = pd.read_excel("Input_data/input_data.xlsx")

In [9]:
data_df.head()

               Short description  ... Assignment group
0                    login issue  ...            GRP_0
1                        outlook  ...            GRP_0
2             cant log in to vpn  ...            GRP_0
3  unable to access hr_tool page  ...            GRP_0
4                   skype error   ...            GRP_0

[5 rows x 4 columns]

In [11]:
#remove NaN
data_df.isna().sum()

Short description    8
Description          1
Caller               0
Assignment group     0
dtype: int64

In [12]:
data_df.dropna(inplace = True)

In [13]:
data_df.isna().sum()

Short description    0
Description          0
Caller               0
Assignment group     0
dtype: int64

In [21]:
# Droping caller column

data_df = data_df.drop(['Caller'],axis=1)